<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Balance</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/index.css">
    
  </head>
  <body>
  

  <script >    
    var user = localStorage.getItem('user');  
    var admin = localStorage.getItem('admin');

    if(user != null){
      window.location.href = "sessionMain.html";
    }else{
      if(admin != null){
        window.location.href = "adminMain.html";
      }else{
        window.location.href = "log.html";
      }
    }
    

  </script>
 

  </div>

  
</body>
 
</html>
