<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>My Balance</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Estilos -->
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/my.js"></script>

</head>

<body>
    <form id="cambiarContraseña" >
        <div class="form-group">
          <label for="exampleInputPassword1">Nueva contraseña</label>
          <input type="password" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Contraseña">
          <label id="nivelContraseña"></label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword2">Repetir contraseña</label>
          <input type="password" id="exampleInputPassword2" placeholder="Repetir contraseña">
        </div>
        <button type="submit" id="cambiarContraseña"  class="btn btn-primary">Cambiar contraseña</button>
        <label id="info"></label>
        
    </form>




  <script>window.$ = window.jQuery = require('jquery');</script>
  <script>

      $('#exampleInputPassword1').keyup(function(e) {
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        if (false == enoughRegex.test($(this).val())) {
                $('#nivelContraseña').html('*La contraseña es muy corta');
        } else if (strongRegex.test($(this).val())) {
                $('#nivelContraseña').className = 'ok';
                $('#nivelContraseña').html('*La contraseña es fuerte');
        } else if (mediumRegex.test($(this).val())) {
                $('#nivelContraseña').className = 'alert';
                $('#nivelContraseña').html('*La contraseña es media');
        } else {
                $('#nivelContraseña').className = 'error';
                $('#nivelContraseña').html('*La contraseña es débil');
        }
        return true;
      });

      var info = document.getElementById("info")
      var cambiarContraseña = document.getElementById("cambiarContraseña")

      cambiarContraseña.addEventListener('submit', function(event){ 
          event.preventDefault();
          info.value = ""
          let contraseña1 = document.getElementById("exampleInputPassword1")
          let contraseña2 = document.getElementById("exampleInputPassword2")
         
          if(contraseña1.value != "" && contraseña2.value != ""){
              if(contraseña1.value == contraseña2.value){
                info.innerHTML += "Contraseña cambiada correctamente"
              }else{
                info.innerHTML += "Las contraseñas no coinciden"
              }



          }else{
            info.innerHTML += "rellena"
          }
         
          contraseña1.value = ""
          contraseña2.value = ""
          
      })

     
   
    

  </script>

</body>

</html>